.logo {
    width: 140px;
    cursor: pointer;
    margin-right: 3.5rem;
}

.mat-elevation-z8 {
    background-color: var(--color-primary);
}

.nav-link {
    display: block;
    color: white;
    margin-right: 15px;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid transparent;

    &.active {
        border: 1px solid white;
    }
}