:host {
    display: block;
}

.header {
    display: flex;
    padding: 5px 15px;
    align-items: center;
    box-sizing: border-box;
    height: var(--height-header);
    background-color: var(--color-primary);
}

.logo {
    width: 140px;
    cursor: pointer;
    margin-right: 3.5rem;
}

.nav-link {
    display: block;
    color: white;
    margin-right: 15px;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid transparent;

    &.active {
        border: 1px solid white;
    }
}

.nav {
    display: flex;
}